<div class="container">
<form action='/add' method="post" id="form-cadastro">
<p>Nome</p>
<input type="text" name="Nome">
<p>Email</p>
<input type="text" name="Email">
<p>Senha</p>
<input type="password" name="Senha">
<p>Data</p>
<input type="date" name="Data" id="Data">

<br><br>
</form>
<button id="btn-cadastro">Cadastrar</button>

</div>
<p id="data-chosen" name="dataChosen"></p>
<script>
    var button = document.getElementById('btn-cadastro');
    button.addEventListener('click', clicar);
    function clicar() {
        var data = document.querySelector('#Data').valueAsDate;
        var dia = data.getUTCDate();
        var mes = data.getUTCMonth() +1;
        var ano = data.getUTCFullYear();
        var dataFull = dia + '/' + mes + '/' + ano;
        document.getElementById('data-chosen').innerHTML=`${dataFull}`;
        document.getElementById('form-cadastro').method='Post';
        document.getElementById('form-cadastro').action='/add';
        document.getElementById('form-cadastro').submit();
    }

</script>

<style type="text/css">
.container {
    position: absolute; left: 40%; top: 25%;
    display: flex;

}

body {
    font-family: 'Open Sans', sans-serif;
    color: azure;
    background-image: url("https://acegif.com/wp-content/uploads/gif/outerspace-6.gif");
    background-size: cover;
    
    
    
    
}

form {
    padding: 8%;
    margin: 6%;
    background-color: rgb(85, 61, 111);
    width: 100%;
    border-radius: 10px;
}

button {
    border-radius: 15px;
    text-transform: uppercase;
    position: center;
    margin-left: 15%;

}

</style>



