<div class="container">
<form action="/add" method="Post">
<p>Nome</p>
<input type="text" name="Nome">
<p>Email</p>
<input type="text" name="Email">
<p>Senha</p>
<input type="password" name="Senha">

<br><br>
<button type="Enviar">Cadastrar</button>
</form>
</div>



<style type="text/css">
.container {
    position: absolute; left: 40%; top: 25%;
    display: flex;

}

body {
    font-family: 'Open Sans', sans-serif;
    color: azure;
    background-image: url("https://acegif.com/wp-content/uploads/gif/outerspace-6.gif");
    background-size: cover;
    
    
    
    
}

form {
    padding: 8%;
    margin: 6%;
    background-color: rgb(85, 61, 111);
    width: 100%;
    border-radius: 10px;
}

button {
    border-radius: 15px;
    text-transform: uppercase;
    position: center;
    margin-left: 15%;

}

</style>




